<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Simple Recorder.js demo with record, stop and pause - addpipe.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
  </head>
  <body>
  <div id="recorder">
          <h1>Simple Recorder</h1>

    <div id="controls">
     <button id="recordButton" class="button">Record</button>
     <button id="pauseButton" disabled class="button">Pause</button>
     <button id="stopButton" disabled class="button">Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
  </div>

  <div id="next">
      <form method="get" action="/transcribe">
          <button type="submit" id="continue" class="submit">Continue</button>
      </form>
  </div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
