<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
<body>

<div id="speechContainer">
    <h1>Upload New File</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Custom Upload
        </label>
        <input type="file" name="file">
        <br>
        <input type="submit" value="Transcribe" class="submit">
    </form>

    {%  if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1 id="transcribe">Transcript</h1>
            <p>{{ transcript }}</p>
        </div>
    {% endif %}
</div>

  <div id="back">
      <form method="get" action="/">
          <button type="submit" id="back" class="submit">Back</button>
      </form>
  </div>
</body>
</html>